SYSTEM_PROMPT=

LLM_PROVIDER=groq
LLM_MODEL=llama-3.3-70b-versatile
GROQ_API_KEY=

MEMORY_TOP_K=5
SUPABASE_DB_CONNECTION_STRING=

EMBEDDER_PROVIDER=openai
EMBEDDER_MODEL=text-embedding-3-small
OPENAI_API_KEY=
